@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	}

body {
	background-attachment: fixed;
	background-color: rgba(250,247,199,1);
    opacity: 1;
    background-image: linear-gradient(to right, rgba(196,50,50,1), rgba(196,50,50,1) 20px, rgba(250,247,199,1) 20px, rgba(250,247,199,1) );
    background-size: 40px 100%;
	
}	

p{
	line-height: 3rem;
	font-size: 3rem;
    padding-bottom: 5rem;
}



/* ---------------------------- empieza botonera ---------------------------- */
.encabezado{
	background-color: rgba(196, 50, 50,1);
    
	 
      	
}
.encabezado__logo{
    width: auto;
}


.encabezado nav ul li{  
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 10rem;
    height: 3rem;
    font-style: italic;
    
    
    
      

}

.encabezado nav ul li a{ 
    color: black;
    font-size: 3rem;
    text-align: center;	
}

.encabezado nav ul li a:hover{
    font-weight: 1000;
    color: rgba(250, 247, 199, 1.0)
    
}


/* ---------------------------- termina botonera ---------------------------- */




/* --------------------------------- footer --------------------------------- */
.pie{
    
    padding: 7rem auto;
    margin-top: 10rem;
    background-color: rgba(196, 50, 50,1);
    text-align: center;
    margin-top: 10rem;
   
   

}



.pie__titulo{
    font-size: 3rem;
    color:rgba(250, 247, 199, 1.0);
    padding-top: 3rem;
    font-weight: 1000; 
   


}

.pie__text{

    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    padding: 2	rem auto;
    margin: 1rem auto;
}

.pie__icon{ 
   width: 5rem;
   margin-top: 3rem;
   margin-right: 1rem;
   margin-left: 1rem;
  

}

@media all and (max-width:768px){
    
    .pie__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}    
/* ----------------------------- termina footer ----------------------------- */

/* ---------------------------------- index --------------------------------- */
.portada{
    width: 100%;
    height: auto;    	
    background-color: rgba(196, 50, 50,1);
    text-align: center;
	margin-top: -1rem;
	
}

.portada__titulo{
    font-size: 5rem;
    color:rgba(250, 247, 199, 1.0); 
    font-style: italic;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: dancing-script;
    
   
}

/* ------------------------------ termina index ----------------------------- */

/* ----------------------------- empieza pizzas ----------------------------- */
.mainpizza{  	
    background-color: rgba(196, 50, 50, 1.0);
    text-align: center;
    margin-top: 8rem;
    border: solid 0.3rem black;
    margin-right: 8rem;
    margin-left: 8rem;
}


/* ----------------------------- termina pizzas ----------------------------- */

/* ---------------------------- empieza nosotros ---------------------------- */
.mainnosotros{
    width: 100%;
    height: auto;    	
    background-color: rgba(196, 50, 50,1);
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 5rem;
    
}

.mainnosotros__titulo{
    font-size: 5rem;
    color:rgba(250, 247, 199, 1.0); 
    font-style: italic;
    padding-top: 2rem;
    margin-bottom: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: dancing-script;
    text-align: center;
    

}

.mainnosotros__text{
    font-size: 3rem;
    text-align: left;
    
}

/* --------------------------- empiezas sucursales -------------------------- */
.mainsucursales{
    width: 100%;
    background-color: rgba(196, 50, 50, 1.0);
    text-align: center;
    margin-top: 10rem;
    border: solid 0.3rem black;
    padding-bottom: 3rem;
   
    

}

.mainsucursales__titulo{
    font-size: 5rem;
    color:rgba(250, 247, 199, 1.0); 
    font-style: italic;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: dancing-script;
    text-align: center;
}

.mainsucursales__titulosiframes{
color:rgba(250, 247, 199, 1.0);


}

.mainsucursales__iframes{
    display: flex;
    flex-direction: row;		
    justify-content: space-around;
    
}

@media all and (max-width:768px){
    
    .mainsucursales__iframes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}    




/* --------------------------- termina sucursales --------------------------- */

/* ---------------------------- empieza contacto ---------------------------- */
.maincontacto{
    width: 100%;
    height: auto;    	
    background-color: rgba(196, 50, 50,1);
    text-align: center;
    margin-top: 10rem;  
	
}



.maincontacto__titulo{
    font-size: 5rem;
    color:rgba(250, 247, 199, 1.0); 
    font-style: italic;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: dancing-script;
   
}

.form{
    width: 50%;
	padding: 3rem;
	margin: auto;
	background-color: #c43232; 
    text-align: center;
    margin-bottom: 3rem;
    border: solid rgba(250, 247, 199, 1.0) 0.2rem;
    border-radius: 1rem;
		
}

.form__titulos{
	text-transform: uppercase;
	font-size: 2rem;
	color: rgba(250, 247, 199, 1.0);
	font-family: roboto;
}

.form__boxtext{
    text-align: center;
}
.form__button{
    background-color: rgba(250, 247, 199, 1.0);
    font-size: 1.5rem;
    border: 2px solid rgba(250, 247, 199, 1.0);
    border-radius: 1rem;
    font-family: roboto;
    padding: 0.5rem 1rem;
    transition-duration: 0.4s
}

.form__button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ---------------------------- Termina contacto ---------------------------- */

