.portada{
           width: 100%;
           height: auto;    	
           background-color: rgba(196, 50, 50,1);
           text-align: center;
           margin-top: -1rem;
           .portada__titulo{
            font-size: 5rem;
            color:rgba(250, 247, 199, 1.0); 
            font-style: italic;
            padding-top: 2rem;
            margin-bottom: 3rem;
            font-weight: 800;
            text-transform: uppercase;
            font-family: dancing-script;
                             
               

           }      
}